local.properties

*.iml
*.DS_Store
*.log
*.DS_Store
*.apk
node_modules/
dist/
build/
app/build/
.gradle/
target/
dist/
.idea/

*.properties
local.properties
/app/dev/debug/output-metadata.json
/app/prod/release/output-metadata.json
